body{
	background-color: #000;
}
#footerwrap{
	padding: 50px;
}
#copywrap{
	padding: 50px;
}
#docswrap{
	padding: 50px;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















