/* ==========================================================================
   custom styles
   ========================================================================== */

body{
	background-color: #686868;
	font-weight: 300;
	font-size: 16px;
	color: white;

	-webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
#footerwrap{
	padding: 50px;
}
#copywrap{
	padding: 50px;
	background-color: #000;
	border-top: #f8f8f8 solid 5px;
}
#docswrap{
	padding: 50px;
}
#buttonlink {
        color: #fff;
}
#jumbowrap{
	

}
.jumbotron{
	padding-top: 50px;
	border-bottom: #f8f8f8 solid 5px;
}
.jumbotron p{
	color: #888888;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

a {
    color: #3bc492;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #c0392b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    /*display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;*/
}











